
/* paramètres generaux */


@font-face /* intégration d'une police */
{
    font-family: 'capsuularegular';
    src: url('fonts/Capsuula-webfont.eot');
    src: url('fonts/Capsuula-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Capsuula-webfont.woff2') format('woff2'),
         url('fonts/Capsuula-webfont.woff') format('woff'),
         url('fonts/Capsuula-webfont.ttf') format('truetype'),
         url('fonts/Capsuula-webfont.svg#capsuularegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
p, h1,h2,h3,span,li, [class*="child"] b
{
	font-family: capsuularegular;
}
p
{
	font-size:1em;
}
header .pic, aside
{
	background-color: #005DFF;/* définition de l'arrière-plan bleu */
	color:white;
}
aside h2, #foot1 h2
{
	text-align: center;
	background-color: white;/* définition de l'arrière-plan blanc */
	color:#005DFF;
}
body
{
	margin:0;
	padding:0;
}
header
{
	width:100%;
	display: flex;
	flex-wrap: wrap;
}
header h1,header h2
{
	margin-left:7%;
}
.titre
{
	line-height: 1em;
	background-color: white;/* définition de l'arrière-plan blanc */
	width:70%;
	margin:auto;
}
.titre h1
{
	font-size:3em;
}
.titre h1 span
{
 color:#005DFF;
}
.titre h2 span
{
	text-decoration: underline #005DFF;
	text-underline-position: under;
}
.accroche
{
	font-size: 1.2em;
	text-align: justify;
	line-height: 1.5em;
	margin-left: 10%;
	margin-right: 20%;
}
article
{
	display:flex;
}
aside
{
	width:30%;
}
aside h3, aside p
{
	margin-left:10%;
}
.mail, a
{
	color:white;
	text-decoration: none;
}
aside .contact p, aside .contact h3
{
	line-height: 0.4em;
}
.pic
{
    text-align: center;
    color:white;
    width:30%;
    justify-content: space-around;
    height: auto;
}
.pic img /*cadre photo*/
{
	align-items: center;
	height: 150px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left: auto;
	margin-right: auto;
	border:1px solid #005DFF;
	box-shadow: 1px 1px 1px black;/* intégration d'une ombre portée du cadre */
	border-radius: 120px;/* définition de l'arrondi de la photo */
}
.contact
{
	margin-left:10%;
}
section
{
	width: 65%;
	margin-left:5%;
}
section h2
{
	color:#005DFF;
}
section h2 span
{
	color:black;
}
.contener, .contener_f, .contener0
{
	display:flex;
}
.contener .child2
	{
		margin-right: 10%;
	}
.contener .child2 a
{
	color:black;
}
.contener0, .contener_f
{
	border-top:2px solid #005DFF;
	padding-top: 2em;
}
[class*="contener"]
{
	line-height: 1em;
}
.child0, .child1
{
	width: 30%;
}
.child0 p, .child1 p
{
	margin-left: 2.5em;
}
.child0 ul, .child1 ul
{
	list-style:none;
}
.child0 li::before
{
	content: "\2022";/*texte unicode*/
	font-size:2em;
	color: #005DFF;
  	display: inline-block; width: 1em;
  	vertical-align: middle;
  	margin-left: -1em

}
.child1 li::before
{
	content: "\29BF";
	color: #005DFF;
  	display: inline-block; width: 2em;
  	margin-left: -2em
}
.child2
{
	width: 60%;
	padding-top:1em;

}
[class*="child"] h3
{
	text-align: left;
}
.child3
{
	width:50%;
	font-size:0.8em;
	line-height: 0.5em;
}
a:visited
{
    color: #512DA8;
}
footer
{
	display:flex;
	
}
.foot
{
	display:none;
}
.foot1
{
	
	margin-left:0px;
	width: 30%;
}
.foot1 h2
{
	text-align: center;
	color:#005DFF;
	position: relative;
	bottom:15px;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 0.8em;

}
.hobby
{ 
	background-color:blue;
	padding-top: 32px;
	padding-bottom:32px;
	
	background-color: #005DFF;
	display: flex;
	justify-content: space-around;
	
}
.hobby [class*="fas"]
{
	color:white;
	font-size:1.3em;
	border:2px solid white;
	padding:20px;
	border-radius: 40px;/* définition de l'arrondi du cadre autour des icones F-Awesome */
}
#foot2
{
	margin-left:5%;
	width: 65%;
}
#foot2 [class*="fas"]
{
    color: #005dff;
}
#foot2 h2 span
{
	color:black;
}
@media all and (max-width:780px) /*breakpoint, pour le viewport*/
{
	.foot
	{
		display:contents;
	}
	.foot1
	{
		display:none;
	}
	#foot2
	{
		width: 95%
	}
	body, main, article, aside, .contener0, .contener, footer
	{
		flex-direction: column;
	}
	aside
	{
		width:100%;
	}
	.titre h1
	{
		font-size:1.5em;
	}
	.pic, .contener, [class*="child"]
	{
		width:100%;
	}
	section
	{
		margin-left: 5%;
		width: 95%
	}
	.pic img
	{
		height: 70px;
	}
	p,b,h2,h3
	{
		font-size:0.8em;
	}
	.contact
	{
		margin-left: 0%;
	}
	.contact, .hobby
	{
		justify-content: space-around;
	}
	.contact p
	{
		line-height: 1em;
	}
	.contact br
	{
		display: none;
	}
	.accroche
	{
		font-size: 1em;
		text-align: justify;
		line-height: 1em;
		margin-left: auto;
		margin-right: 10%;
		height: auto;
	}
	.hobby [class*="fas"]
	{
		font-size:1em;
	}
	[class*="child2"]
	{
		text-align: center;
		margin-right:5%;
	}
	[class*="child"] p
	{
		margin-right: 5%;
	}
}
